behaving==2.0.0
Appium-Python-Client==1.3.0
ckanapi==4.3
ckantoolkit>=0.0.4
factory-boy
Faker
flake8==3.8.3
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
mock
progressbar==2.5
pytest-ckan
python-magic==0.4.18
six>=1.13.0
splinter>=0.13.0,<0.17
xlrd==1.2.0
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability

-e git+https://github.com/ckan/ckanext-dcat.git@v2.1.0#egg=ckanext-dcat
-e git+https://github.com/ckan/ckanext-harvest.git@v1.6.1#egg=ckanext-harvest
-e git+https://github.com/ckan/ckanext-scheming.git@release-3.0.0#egg=ckanext-scheming
-e git+https://github.com/qld-gov-au/ckanext-archiver.git@2.1.1-qgov.19#egg=ckanext-archiver
-e git+https://github.com/qld-gov-au/ckanext-csrf-filter.git@2.0.0#egg=ckanext-csrf-filter
-e git+https://github.com/qld-gov-au/ckanext-data-qld.git@7.3.1#egg=ckanext-data-qld
-e git+https://github.com/qld-gov-au/ckanext-datarequests.git@2.2.1-qgov.14#egg=ckanext-datarequests
-e git+https://github.com/qld-gov-au/ckanext-qa.git@2.0.3-qgov.15#egg=ckanext-qa
-e git+https://github.com/qld-gov-au/ckanext-qgov.git@7.0.1#egg=ckanext-qgov
-e git+https://github.com/qld-gov-au/ckanext-report.git@0.3.1-qgov.5#egg=ckanext-report
-e git+https://github.com/qld-gov-au/ckanext-resource-type-validation.git@1.0.10#egg=ckanext-resource-type-validation
-e git+https://github.com/qld-gov-au/ckanext-ssm-config.git@0.1.0#egg=ckanext-ssm-config
-e git+https://github.com/qld-gov-au/ckanext-validation.git@v0.0.8-qgov.15#egg=ckanext-validation
-e git+https://github.com/qld-gov-au/ckanext-xloader.git@1.2.0-qgov.1#egg=ckanext-xloader
-e git+https://github.com/qld-gov-au/ckanext-ytp-comments.git@2.5.0#egg=ckanext-ytp-comments
-e git+https://github.com/qld-gov-au/ckanext-resource-visibility.git@2.1.2#egg=ckanext-resource-visibility
-e git+https://github.com/qld-gov-au/ckanext-validation-schema-generator.git@2.0.0#egg=ckanext-validation-schema-generator
